In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Oringinal DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")df

Oringinal DataFrame with NaN
         one       two     three
a -2.156252 -1.628375  1.136174
b  0.311569 -0.731250  0.232317
c       NaN       NaN       NaN
d  1.539357 -1.342586  2.555738
e       NaN       NaN       NaN
f -1.666015 -0.586150 -1.047911


Dropped DataFrame
         one       two     three
a -2.156252 -1.628375  1.136174
b  0.311569 -0.731250  0.232317
d  1.539357 -1.342586  2.555738
f -1.666015 -0.586150 -1.047911

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c"])
print("Oringinal DataFrame with NaN\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Oringinal DataFrame with NaN
         one       two     three
a -0.675373  0.205105  2.229442
b  0.203388  0.069173 -0.185881
c       NaN       NaN       NaN


NaN replaced with '0':

        one       two     three
a -0.675373  0.205105  2.229442
b  0.203388  0.069173 -0.185881
c  0.000000  0.000000  0.000000

In [6]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Oringinal DataFrame with NaN\n",df)
print("\n NaN with True fill:\n")
print(df['one'].isnull())

Oringinal DataFrame with NaN
         one       two     three
a  0.153972 -1.748238 -1.644887
b  0.160549  0.896403  0.949317
c       NaN       NaN       NaN
d  0.692576 -0.814816  0.347836
e       NaN       NaN       NaN
f -1.366630  1.862285 -2.206955

 NaN with True fill:

a    False
b    False
c     True
d    False
e     True
f    False
Name: one, dtype: bool

In [7]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Oringinal DataFrame with NaN\n",df)
print("\n NaN_filled with BackgroundValues:\n")
print(df.fillna(method='bfill'))

Oringinal DataFrame with NaN
         one       two     three
a  0.113219  1.642951  1.402770
b -1.415890 -0.290261 -1.067009
c       NaN       NaN       NaN
d -1.686806 -0.233714  1.491223
e       NaN       NaN       NaN
f -0.342435  0.518522  0.453774

 NaN_filled with BackgroundValues:

        one       two     three
a  0.113219  1.642951  1.402770
b -1.415890 -0.290261 -1.067009
c -1.686806 -0.233714  1.491223
d -1.686806 -0.233714  1.491223
e -0.342435  0.518522  0.453774
f -0.342435  0.518522  0.453774

In [8]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Oringinal DataFrame with NaN\n",df)
print("\n NaN_filled with BackgroundValues:\n")
print(df.fillna(method='ffill'))

Oringinal DataFrame with NaN
         one       two     three
a -1.517789 -0.584177  0.090574
b  2.445137  0.181833 -0.728527
c       NaN       NaN       NaN
d -0.014106  0.239873 -0.242510
e       NaN       NaN       NaN
f -1.833544 -0.357694 -0.148790

 NaN_filled with BackgroundValues:

        one       two     three
a -1.517789 -0.584177  0.090574
b  2.445137  0.181833 -0.728527
c  2.445137  0.181833 -0.728527
d -0.014106  0.239873 -0.242510
e -0.014106  0.239873 -0.242510
f -1.833544 -0.357694 -0.148790

In [13]:
df=pd.DataFrame({"one":[10,20,80,40,50],"two":[60,70,80,0,10]})
print("Oringinal DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:30}))

Oringinal DataFrame:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30   30
3   40    0
4   50    5